<div class="d-flex flex-column align-items-center mt-5">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoJXayZmCrHeI5O--0sV_76NgeWUroki8zxA&usqp=CAU" />
    <p style="margin: 0; font-size:36px; color: gray;"><b>404</b></p>
    <p style="font-size: 24px; color: gray;">Page Not Found</p>
</div>
